{%load static%}
<footer class="footer">
  <div class="footer-grid">
    <div class="footer-section1">
      <div class="theme">
        <h3 class="footer-title">الجزائر</h3>
        <p>
            من الحضارة الأمازيغية العريقة إلى الفتح الإسلامي في القرن السابع، مرورًا بالحكم العثماني والجهاد البحري، وصولًا إلى الاحتلال الفرنسي عام 1830. بعد ثورة التحرير المجيدة (1954-1962)، نالت الجزائر استقلالها لتُصبح رمزًا للنضال والحرية. اليوم، الجزائر تواصل مسيرتها بفخر، حافظةً على تراثها الغني ومتطلعةً نحو مستقبل مشرق.  
        </p>
      </div>
    </div>

    <div class="footer-section2">
      <div class="footer-links">
        <div class="line"></div>
        <div class="link-list">
          <ul>
            <li><a href="">التاريخ</a></li>
            <li><a href="">التقاليد والحرف اليدوية</a></li>
            <li><a href="">المواقع الطبيعية</a></li>
          </ul>
        </div>
        <div class="line"></div>
        <div class="link-list">
          <ul>
            <li><a href="">الكتب</a></li>
            <li><a href="">بودكاست</a></li>
            <li><a href="">لعبة</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-section-social-section">
    <h3 class="title-contact">اتصل بنا</h3>
        <ul class="social-icons">
           
            <li><i class="fab fa-instagram"></i></li>
           
            <li><i class="fab fa-facebook-f"></i></li>
           
            <li><i class="fab fa-google"></i></li>
        </ul>
 
  </div>
</footer>
