<section class="sideOverlay" id="sideOverlay">
    <button aria-label="Toggle Overlay" id="toggleOverlayButton">>></button>
   
    <div class="accordion-section">
      <div class="accordion-header">{{main_title.title}}</div>
      <div class="accordion-content">
        <a>الحضارات القديمة</a>
        <a>الاستعمار الفرنسي</a>
        <a>لفترة الاسلامية والعثمانية</a>
      </div>
    </div>

 
    <div class="accordion-section">
      <div class="accordion-header">{{main_title.title}}</div>
      <div class="accordion-content">
        <a href="#">الجبال والمتنزهات الوطنية</a>
        <a href="#">الصحراء</a>
        <a href="#">السواحل والشواطئ</a>
      </div>
    </div>


    <div class="accordion-section">
      <div class="accordion-header">{{main_title.title}}</div>
      <div class="accordion-content">
        <a href="#">الجبال والمتنزهات الوطنية</a>
        <a href="#">الصحراء</a>
        <a href="#">السواحل والشواطئ</a>
      </div>
    </div>

      <div class="accordion-section">
        <div class="accordion-header">{{main_title.title}}</div>
        <div class="accordion-content">
          <a href="#">الجبال والمتنزهات الوطنية</a>
          <a href="#">الصحراء</a>
          <a href="#">السواحل والشواطئ</a>
        </div>
      </div>

    <div class="accordion-section">
      <div class="accordion-header">{{main_title.title}}</div>
      <div class="accordion-content">
        <a href="#">الجبال والمتنزهات الوطنية</a>
        <a href="#">الصحراء</a>
        <a href="#">السواحل والشواطئ</a>
      </div>
    </div>
    

  </section>